.sidebar-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  
    .menu-button {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 1000;
    }
  }
  
  .sidebar-drawer {
    width: 250px;
  
    .MuiDrawer-paper {
      width: 250px;
      background-color: #2c3e50;
      color: white;
      padding-top: 20px;
    }
  }
  
  .material-icons {
    font-size: 24px;
    color: white;
  }
  
  @media (min-width: 768px) {
    .sidebar-drawer {
      display: block !important; /* For larger screens, sidebar is always visible */
    }
  
    .menu-button {
      display: none; /* Hide menu button on larger screens */
    }
  }
  
  // Style for active link
  .sidebar-drawer .MuiListItem-root.active {
    background-color: #1e2a38; /* Darker background for active link */
    color: #fff; /* Text color for active link */
  }
  
  .sidebar-drawer .MuiListItem-root.active .material-icons {
    color: #4caf50; /* Change icon color for active link */
  }
  
  .sidebar-drawer .MuiListItem-root:hover {
    background-color: #34495e; /* Hover effect for inactive links */
  }
  
  .sidebar-drawer .MuiListItem-root .MuiListItemText-primary {
    color: white; /* Default text color */
  }
  